doctype html
html
    head
    
    body
        
        h1 Sails + React + Webpack starter kit
        div#app
        
        // SCRIPTS
        script(src="/js/dependencies/sails.io.js")
        script(src="/js/app.js")
        // SCRIPTS END